

body {color:dimgrey;}
body {background-color: pink;
}
h1 {color:black;
font-size: 3em;
}

.tagline {font-size: 2em; color: gray; text-align: center;
}

.main content {text-align:left; font-size: 2em; font-family: Verdana, Geneva, Tahoma, sans-serif: color-scheme: black}






h2 {
    margin: 80px; text-align: center; color-scheme: black; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 2em;
}

h3 {margin: 80px; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 2em;}

h4 {margin: 80px; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 2em;}

.Bulk {font-size: 2em; color: black; text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin: 80px;

}
